*{
    margin: 0;
    padding: 0;
    font-family: Dirooz;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
}
@font-face {
    font-family: Dirooz;
    font-style: normal;
    font-size: 1vw;
    src: url("font-dirooz/Dirooz.ttf");
    src: url("font-dirooz/Dirooz.woff") format("woff"),
      url("font-dirooz/Dirooz.ttf") format("ttf"),
      url("font-dirooz/Dirooz.woff2") format("woff2");
}
.logo{
    width:105px;
    padding-top:25px;
    padding-right:20px;
}

.search{
    margin-bottom:20px;
    margin-top: 30px;
    margin-right: 20px;
    height: 40px;
    background-color: #fff;
    padding:5px 5px;
    border-radius: 5px;
}
.fa-search{
    text-decoration: none;
}

.search-input{
    color: white;
    border:0;
    outline: 0;
    background: none;
    margin-top:5px;
    caret-color:transparent;
    transition: width 0.4s linear;
}

.search .search-input{
    max-width: 450px;
    caret-color: #536bf6;
    font-size: 18px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
    padding-right:8px;
}

.search:hover{
    color:#fff;
}
.search-icon{
    height: 30px;
    width: 30px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:transparent;
    border-radius: 50%;
    color:black;
    text-decoration: none;
}
.search-icon:hover{
    text-decoration: none;
}
.navbtn{
    background-color: transparent;
    color: black;
    padding:10px 40px;
    font-weight: bolder;
}
.dropdown a:hover{
    color:red
}
.navbtn a{
    text-decoration: none;
    color:black;
}
.navbtn a:hover{
    color: red;
}
.purchase{
    justify-content: end;
    align-items: flex-end;
    padding-top: 20px;
    padding-left: 20px;
}
@media (max-width: 767.98px) { 
    .purchase{
        justify-content: center;
        align-items: center;
    }
}
.secondnav{
    padding-right: 20px;
}
.carousel-first{
    background-color: azure;
}
.main{
    background-color:rgb(209, 207, 207) 0.7;
    padding-bottom: 50px;
}
.slide{
    padding:20px 40px;
}
.middle{
    padding-right:40px;
    padding-left: 40px;
}
.img-m{
    width: 100px;
    height:100px;
}
.oil{
    padding-right: 40px;
    padding-left: 40px;
}
.products{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;
    text-align: center;
    max-width: 130px;
    max-height: 150px;
    vertical-align: top;
}
.img-p{
    width:60px;
    height:60px;
}

.figure-caption{
    text-align: center;
}

.tea{
    padding:20px 30px;
}
.ftone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}
.rightcontent{
    display:flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767.98px) { 
    .rightcontent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contacts{
    text-align: center;
}
.apps{
    padding-bottom: 50px;

}
.leftside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.installapp{
    text-decoration: none;
    color: #536bf6;
}
.installapp:hover{
    color: red;
}
.apptext{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list a{
    text-decoration: none;
    line-height: 2;

}
.form-control{
    padding-left: 10px;
    border-radius: 20px;
}
.button-addon2{
    padding-right:20px;
    border-radius: 10px;
}
.social{
    display: flex;
    justify-content: end;
}
.fa {
    padding: 10px 10px;
    font-size: 25px;
    width: 20px;
    text-align: end;
    text-decoration: none;
    vertical-align: top;
}

.section-1{
    padding:30px 30px;
}  
.section-2{
    padding:10px 30px;
    display: none;
} 
.flside{
    padding-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftext{
    font-weight: bold;
}
.linkemail{
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left:30px;
    padding-right: 30px;
}
@media (max-width: 767.98px) { 
    .logobenith{
        display: none;
    }
}

.page-footer{
    margin-bottom: 0;
}
.footer-text{
    display: flex;
    justify-content: right;
    align-items: center;
    color:white;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-bottom: 0;
}








@media all and (min-width: 992px) {
	.dropdown-menu {
		min-width: 250px;
	}
    .dropdown-item{
        line-height: 2.5;
        min-width: 280px;
    }
	.mega-submenu {
		right: 100%;
		top: 0;
		min-width: 25rem;
	}
	.ktm-mega-menu {
		position: static;
	}
	.mega-menu {
		left: 0;
		right: 0;
		width: 100%;
	}
	.dropdown-menu li {
		position: relative;
	}
	.dropdown-menu .submenu {
		display: none;
		right: 100%;
		top: 0;
	}
	.dropdown-menu>li:hover>.submenu,
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
    .row-nav{
        display:flex;
        min-width:400px;
    }
    .column-nav{
        min-width: 250px;
    }
    .col-list{
        list-style: none;
    }
    .col-list li{
        padding-top: 5px;
    }
    .dropdown-item-two{
        text-decoration: none;
        padding-right:20px;
    }
    .title-men{
        padding-top: 10px;
        padding-right: 20px;
        font-weight: bold;
    }
    .submenu{
        overflow-y: scroll;
    }
}



/*  Modal CSS  */


.num-one{
    background-color: rgb(246, 152, 102);
    width:40%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num-two{
    background-color: whitesmoke;
    width:60%;
    height:400px;
}
.number-one{
    background-color: rgb(246, 152, 102);
    width:40%;
    height:450px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.number-two{
    background-color: whitesmoke;
    width:60%;
    height:450px;

}
.head-two, .form-one, .form-two{
    padding:10px 8px;
}
.input-one{
    min-width: 330px;
    border: 1px orange solid;
    border-radius: 8px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-right: 8px;
}
@media (max-width: 967.98px) { 
    .input-one{
        min-width: 100px;
    }
}
.label-text{
    padding-bottom: 20px;
}
.check{
    padding-top: 20px;
}
.modal-body{
    padding-right: 0;
    padding-left: 0;
}
.bttn{
    border:5px orange solid;
    width:350px;
    height: 50px;
}
.btn-confirm{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.input-two{
    min-width: 330px;
    border: 1px orange solid;
    border-radius: 8px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-right: 8px;
}
@media (max-width: 967.98px) { 
    .input-two{
        min-width: 100px;
    }
}
.btn-confirm-two{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.note{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: orangered;
    padding:8px 15px;
}

